.calculator, .key, .row-5{
  font-family: myFirstFont;
}

.App {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100%;
  height: 100vh;
}

@font-face {
  font-family: myFirstFont;
  src: url(PressStart2P-Regular.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  background-color: rgb(236, 233, 216);
  border-bottom: 20px;
  border-color: linear-gradient(red, green);
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  font-size: 16px;
}

.left, .right {
  gap: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start .right {
  background-color: #0C8DE9
}

.start .right::before {
  position: relative;
  content: '<';
  width: 20px;
  border: 1px solid white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, blue, aqua);
  left: -10px;
}

.display {
  background-color: #FFFFFF;
  border: 2px solid #7F9DB9;
  border-collapse: collapse;
  margin: 10px;
  padding: 5px;
  text-align: right;
}

.display *  { 
  padding: 5px;
}

.live {
  overflow-x: scroll;
}

.result {
  overflow-x: scroll;
}

.memory-keys {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  background-color: #F9F9F6;
  border: 1px solid #003C74;
  border-radius: 3px;
  width: 50px;
  height: 45px;
  margin: 5px;
}

.calc { 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.row-5 {
  width: 230px;
  height: 45px;
  margin: 5px;
}

.operators {
  display: flex;
  flex-direction: column;
}

.op {
  color: RGB(255,0,0);
}

.divide {
  font-weight: 1000;
}

.number {
  color: rgb(0, 0, 255);
}

.bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  height: 30px;
  width: 100vw;
  background: linear-gradient( to bottom,#468FE6 -10%, #2258D6, #2663E0, #1B47AF);
  color: white;
  font-family: Tahoma;
  font-weight: 400;
}

.start-btn {
  width: 90px;
  height: 30px;
  background-size: 100%;
  background-image: url(./start.png);
  background-repeat: no-repeat;
  background-position: top;
}

.start-btn:hover {
  background-position: center;
}

.start-btn:active {
  background-position-y: bottom;
}

.time {
  margin-right: 10px;
}